version: "3.8"

services:
  redis:
    container_name: DockerRedis
    image: redis:7-alpine
    restart: always
    env_file: .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: --requirepass ${REDIS_PASSWORD}
    volumes:
      - ./redis:/data
    # No port needed on live server as we dont want to expose it, we connect via docker network
    # host: container_name, port: 6379
    networks:
      - btree-db-network
    logging:
      driver: 'local'

  maria:
    container_name: DockerMariaDB
    image: mariadb:jammy
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    env_file: .env
    environment:
      MYSQL_ROOT_HOST: "%"
      MARIADB_USER: ${DATABASE_USERNAME}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_ROOT}
      MARIADB_AUTO_UPGRADE: "true"
    volumes:
      # On live server the db folder is a soft link to permament file storage
      # ln -s <source> <destination>
      - ./maria:/var/lib/mysql
      - ./init-maria:/docker-entrypoint-initdb.d
    ports:
      - "33061:3306"
    networks:
      - btree-db-network
    logging:
      driver: 'local'

    vector:
      container_name: VectorRedisBeta
      image: redis/redis-stack-server:latest
      restart: always
      env_file: .env
      environment:
        REDIS_ARGS: --requirepass ${REDIS_PASSWORD} --port 6380
      volumes:
        - ./vector:/data
      networks:
        - btree-db-network
      logging:
        driver: 'local'

  backup:
    container_name: DatabaseBackup
    image: databack/mysql-backup:latest
    restart: always
    command: dump
    user: "0"
    #volumes:
    # soft link to nextcloud mount ln -s /root/nextcloud /root/repos/database
    #- ./nextcloud:/backup
    environment:
      DB_DUMP_TARGET: s3://hetzner-cloud-backup/maria
      DB_DUMP_DEBUG: true
      DB_SERVER: DockerMariaDB
      DB_NAMES: btree_node
      DB_USER: ${DATABASE_USERNAME}
      DB_PASS: ${DATABASE_PASSWORD}
      DB_PORT: 3306
      DB_DUMP_FREQ: 720
      DB_DUMP_BY_SCHEMA: true
      SINGLE_DATABASE: true
      MYSQLDUMP_OPTS: '--skip-lock-tables'
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_DEFAULT_REGION: eu-central-1
    networks:
      - btree-db-network
    logging:
      driver: 'local'
      
networks:
  btree-db-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16
